// Custom bootstrap variables must be set or imported *before* bootstrap.

html,body {
  height: 100%;
}

html{
  font-family: 'Roboto', 'Montserrat' ,sans-serif;
}

footer{
  background-color: #555;
  width: 100%;
  height: 42px;
  ul {
    li{
      font-size: 1.2em !important;
      display: inline-block;
      margin: 0px 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
