// Custom bootstrap variables must be set or imported *before* bootstrap.

html{
  font-family: 'Roboto', 'Montserrat' ,sans-serif;
}

html, body {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

footer{
  background-color: #555;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 42px;
  ul {
    li{
      font-size: 1.2em !important;
      display: inline-block;
      margin: 0px 10px;
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
